html,
body {
  min-height: 100%;
}

body,
div,
form,
input,
select,
textarea,
p {
  padding: 0;
  margin: 0;
  outline: none;
  font-family: Roboto, Arial, sans-serif;
  font-size: 14px;
  color: #666;
}

p {
  color: purple;
}

h1 {
  position: absolute;
  margin: 0;
  font-size: 32px;
  color: #fff;
  z-index: 2;
}

h5 {
  margin: 10px 0;
  color: #265a6e;
  font-size: 1.5rem;
}

.testbox {
  display: flex;
  justify-content: center;
  align-items: center;
  height: inherit;
  padding: 10px;
}

.banner {
  position: relative;
  height: 60px;
  background-color: #265a6e;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.banner::after {
  content: "";
  background-color: #265a6e;

  position: absolute;
  width: 100%;
  height: 100%;
}

form {
  width: 100%;
  padding: 20px;
  border-radius: 6px;
  background: #fff;
  box-shadow: 0 0 5px 0 #095484;
}

.item.tipoInput {
  display: flex;
  align-items: center;
}

.item.tipoInput > p {
  margin-bottom: 10px;
}

.item.tipoInput > input {
  margin-left: 5px;
  margin-right: 5px;
}

#apellido {
  width: 555px;
}

#cedula {
  width: 100%;
}

#fnacimiento {
  width: 400px;
}

#tlflocal {
  width: 450px;
}

#contacto {
  width: 535px;
}

#div-genero,#div-edocivil{
  margin-left: 55px;
}

input,
select,
textarea {
  margin-bottom: 10px;
  border: 1px solid rgb(177, 177, 177);
  border-radius: 3px;
}

input {
  width: calc(100% - 10px);
  padding: 4px;
}

::placeholder {
  color: rgb(168, 165, 165);
}

select {
  width: 100%;
  padding: 7px 0;
  background: transparent;
}

textarea {
  width: calc(100% - 12px);
  padding: 5px;
}

.item.textarea {
  margin-top: 0;
}

.item:hover p,
.item:hover i,
.question:hover p,
.question label:hover a {
  color: #095484;
}

.item input:hover,
.item select:hover,
.item textarea:hover {
  border: 1px solid #0666a3;

  color: #095484;
}

.item {
  position: relative;
}

input[type="date"]::-webkit-inner-spin-button {
  display: none;
}

input[type="radio"],
input[type="checkbox"] {
  display: none;
}

label.radio,
label.check {
  position: relative;
  display: inline-block;
  margin: 5px 20px 15px 0;
  cursor: pointer;
}

.question span {
  margin-left: 22px;
}

span.required {
  margin-left: 0;
  color: red;
}

.checkbox-item label {
  margin: 5px 20px 10px 0;
}

label.radio:before,
label.check:before {
  content: "";
  position: absolute;
  left: 0;
}

label.radio:before {
  width: 17px;
  height: 17px;
  border-radius: 50%;
  border: 1px solid #266992;
}

label.check:before {
  
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1px solid #095484;
}

input[type="checkbox"]:checked + .check:before {
  background: #095484;
}

label.radio:after {
  left: 5px;
  border: 3px solid #095484;
}

label.check:after {
  left: 4px;
  border: 3px solid #fff;
}

label.radio:after,
label.check:after {
  content: "";
  position: absolute;
  top: 6px;
  width: 8px;
  height: 4px;
  background: transparent;
  border-top: none;
  border-right: none;
  transform: rotate(-45deg);
  opacity: 0;
}

.check.check16 {
  margin-bottom: 3px;
}

input[type="radio"]:checked + label:after,
input[type="checkbox"]:checked + label:after {
  opacity: 1;
}

.btn-block {
  margin-top: 10px;
  text-align: center;
}

button {
  width: 200px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background: #095484;
  font-size: 16px;
  color: #fff;
  cursor: pointer;
}

button:hover {
  background: #0666a3;
}

@media (min-width: 568px) {
  .city-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .city-item input {
    width: calc(50% - 20px);
  }

  .city-item select {
    width: calc(50% - 8px);
  }
}

@media (min-width: 768px) {
  form {
    width: 60%;
  }
}

@media (max-width: 600px) {
  .item.tipoInput {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
  }

  label > span {
    line-height: 20px;
  }

  #apellido,
  #fnacimiento,
  #tlflocal,
  #contacto {
    width: 100%;
  }

  #div-genero,#div-edocivil{
  margin-left: 0px;
}
}
