*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
  padding: 0;
  margin: 0;
 
  overflow-x: hidden;
}

h4 {
  text-align: center;
  font-weight: bolder;
  padding-bottom: 20px;
  color: #333;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  height: 60px;
  position: fixed;
  top: 0;
  line-height: 58px;
  z-index: 999;
}

.logo-dental {
  width: 100px;
  height: 50px;
  margin-left: 35px;
  cursor: pointer;
}

.brandName {
  display: flex;
  align-items: center;
}

#usuario {
  font-size: 13px;
  color: rgb(98, 95, 95);
  letter-spacing: 0.5px;
  margin-left: 10px;
}
li .div-navlinks{
  display: flex;
  align-items: center;
}

.navLinks ul {
  display: flex;
  align-items: center;
  margin-right: 50px;
}

.navLinks li {
  list-style: none;
}

.navLinks li a {
  text-decoration: none;
  color: rgb(141, 141, 141);
  display: block;
}

.navLinks li img{
  padding-right: 5px;
}

.navLinks li a:hover > span {
  border-bottom: 1px solid #4db6ac;
}

.navLinks li:nth-child(4) a > span {
  color: #4db6ac;
  font-weight: 700;
}

.toggle-button {
  position: absolute;
  top: 20px;
  right: 30px;
  /*display: flex;*/
  flex-direction: column;
  justify-content: space-between;
  width: 35px;
  height: 25px;
}

.toggle-button .linea {
  height: 3px;
  width: 100%;
  background-color: #f57c00;
  border-radius: 10px;
}

#modal-msg {
  height: 210px;
  width: 400px;
}

#modal-login {
  width: 400px;
  max-height: 80%;
}

#logout {
  display: none;
  color: #d500f9;
  font-weight: 600;
}

.signup-div {
  margin-top: 5px;
}

/* .inicio {
  margin-right: 160px;
  color: rgb(87, 85, 85);
} */

i.left {
  margin-right: 5px;
  color: rgb(4, 167, 167);
}

/* SECCIONES DEL HTML */

#inicio {
  height: 100vh;
  width: 100%;
  background-color: whitesmoke;
  background: url("../images/logoLgvanessa.png") no-repeat top center;
  background-size: auto;
  background-position: center;
}
#pacientes {
  display: none;
  height: 100vh;
  width: 100%; 
 
  margin-top: 50px;
  text-align: center;
  
}

#section-crear-pacientes{
  display: none;
   height: 100vh;
  width: 100%; 
}


#agenda {
  display: none;
  height: 100vh;
  width: 100%;
  background-color: whitesmoke;
  background-size: cover;
}
#entrar{
    color: #d500f9;
  font-weight: 600;
}



@media (max-width: 768px) {
  .toggle-button {
    display: flex;
  }

  .navbar {
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
  }

  .navLinks {
    display: none;
    width: 100%;
  }

  .navLinks.active {
    display: flex;
  }

  .navLinks ul {
    flex-direction: column;
    width: 100%;
    background-color: aqua;
    margin-right: 0;
  }

  .navLinks li a {
    padding: 0.5rem 1 rem;
  }

  .logo-dental {
    width: 80px;
    height: 35px;
    background-color: #333;
    border-radius: 15px;
  }
}

/* Dental add-ons */
.btn,
.btn-large,
.btn-small,
.btn-flat {
  text-transform: none;
}

.btn.cyan:hover {
  color: rgb(146, 65, 7);
}
.btn.cyan {
  padding: 0 10px;
}

#modal-crud {
  margin-top: 2rem;
  width: 380px;
  height: 200px;
  border-radius: 10px;
}

#modal-crud .modal-content {
  padding: 24px 24px 0px 24px;
}
.pacientes-box {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 15px;
}

.modal-footer a {
  padding-left: 10px;
  padding-right: 10px;
}

.modal-footer a:hover {
  color: black;
}


#agenda {
  display: flex;
  justify-content: space-between;
}

#div-img-agenda {
  width: 300px;
  height: 100vh;
  background-color: greenyellow;
  overflow: hidden;
}

#tabla-paciente {
  padding: 30px;
  max-width: 80%;
}

table.striped > tbody > tr:nth-child(odd) {
  background-color: rgba(189, 186, 186, 0.5);
}

table.highlight > tbody > tr:hover {
  background-color: #ee6e73;
 
}

table{
  width: 50%;
  margin-left: 250px;
}

.div-tabla{
  width: 100%;
  height: max-content;
 margin: 0 auto;
}

table td {
  padding: 5px;
  border: 1px solid #a8adb3;
  width: fit-content;
  
}

table td:nth-child(5){
  width: 150px;
}

table td:nth-child(4){
  width: 90px;
  text-align: center;
}

#td-id-hidden,#th-id-hidden{
  display: none;
}

th{
  text-align: center;
  border: 0.5px solid #a8adb3;
padding: 5px ;
background-color: chocolate;
}

.td-btn{
 margin-left: 5px;
 padding: 2px 5px;
}

.td-btn:hover{
  opacity: 0.9;
}

#img-crear-paciente{
  cursor: pointer;
background-color: aqua;
border-radius: 5px;

}

#img-crear-paciente:hover{
background-color: #4db6ac;

}











/* INTRO SECTION TIME-LINE CSS
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.intro {
  background: #f45b69;
  padding: 30px 0;
}

.intro-header {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

h1 {
  font-size: 2.5rem;
}

/* TIMELINE
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.timeline {
  display: none;
  background: #456990;
  font: normal 16px/1.5 "Helvetica Neue", sans-serif;
  color: #fff;
  overflow-x: hidden;
  padding-bottom: 50px;
}

.timeline ul {
  background: #456990;
  padding: 5px 0;
}

.timeline ul li {
  list-style-type: none;
  position: relative;
  width: 6px;
  margin: 0 auto;
  padding-top: 50px;
  background: #fff;
}

.timeline ul li::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: inherit;
  z-index: 1;
}

.timeline ul li div {
  position: relative;
  bottom: 0;
  width: 400px;
  padding: 15px;
  background: #f45b69;
  cursor: pointer;
}

.timeline ul li div::before {
  content: "";
  position: absolute;
  bottom: 7px;
  width: 0;
  height: 0;
  border-style: solid;
}

.timeline ul li:nth-child(odd) div {
  left: 45px;
}

.timeline ul li:nth-child(odd) div::before {
  left: -15px;
  border-width: 8px 16px 8px 0;
  border-color: transparent #f45b69 transparent transparent;
}

.timeline ul li:nth-child(even) div {
  left: -439px;
}

.timeline ul li:nth-child(even) div::before {
  right: -15px;
  border-width: 8px 0 8px 16px;
  border-color: transparent transparent transparent #f45b69;
}

time {
  display: block;
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 8px;
}

/* EFFECTS
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.timeline ul li::after {
  transition: background 0.5s ease-in-out;
}

.timeline ul li.in-view::after {
  background: #4db6ac;
  content: "cita";
  color: black;
  font-weight: bolder;
  padding-top: 7px;
  text-align: center;
}

.timeline ul li div {
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s ease-in-out;
  border-radius: 10px;
}

.timeline ul li:nth-child(odd) div {
  transform: translate3d(200px, 0, 0);
}

.timeline ul li:nth-child(even) div {
  transform: translate3d(-200px, 0, 0);
}

.timeline ul li.in-view div {
  transform: none;
  visibility: visible;
  opacity: 1;
}

/* GENERAL MEDIA QUERIES
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@media screen and (max-width: 900px) {
  .timeline ul li div {
    width: 250px;
  }
  .timeline ul li:nth-child(even) div {
    left: -289px;
    /*250+45-6*/
  }
}

@media screen and (max-width: 600px) {
  .timeline ul li {
    margin-left: 20px;
  }
  .timeline ul li div {
    width: calc(100vw - 91px);
  }
  .timeline ul li:nth-child(even) div {
    left: 45px;
  }
  .timeline ul li:nth-child(even) div::before {
    left: -15px;
    border-width: 8px 16px 8px 0;
    border-color: transparent #f45b69 transparent transparent;
  }
  #inicio{
    background-size: contain;
  }

  .logo-dental{
    display: none;
  }

  #usuario{
    font-size: 10px;
  }

 table{
   margin-left: 40px;

 }

}


/* EXTRA/CLIP PATH STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.timeline-clippy ul li::after {
  width: 40px;
  height: 40px;
  border-radius: 0;
}

.timeline-rhombus ul li::after {
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}

.timeline-rhombus ul li div::before {
  bottom: 12px;
}

.timeline-star ul li::after {
  clip-path: polygon(
    50% 0%,
    61% 35%,
    98% 35%,
    68% 57%,
    79% 91%,
    50% 70%,
    21% 91%,
    32% 57%,
    2% 35%,
    39% 35%
  );
}

.timeline-heptagon ul li::after {
  clip-path: polygon(
    50% 0%,
    90% 20%,
    100% 60%,
    75% 100%,
    25% 100%,
    0% 60%,
    10% 20%
  );
}

.timeline-infinite ul li::after {
  animation: scaleAnimation 2s infinite;
}

@keyframes scaleAnimation {
  0% {
    transform: translateX(-50%) scale(1);
  }
  50% {
    transform: translateX(-50%) scale(1.25);
  }
  100% {
    transform: translateX(-50%) scale(1);
  }
}

/* FOOTER STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.page-footer {
  position: fixed;
  right: 0;
  border-radius: 15px;
  bottom: 20px;
  display: flex;
  align-items: center;
  padding: 5px;
  color: black;
  background: rgba(255, 255, 255, 0.87);
}

.page-footer a {
  display: flex;
}

.btn-eliminar-cita {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: aqua;
  color: black;
  border: none;
  float: right;
  cursor: pointer;
  border-color: rgb(12, 138, 138);
  font-weight: bolder;
}
