*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
  padding: 0;
  margin: 0;

  overflow-x: hidden;
}

h4 {
  text-align: center;
  font-weight: bolder;
  padding-bottom: 20px;
  color: #333;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  height: 60px;
  position: fixed;
  top: 0;
  line-height: 58px;
  z-index: 999;
}

.logo-dental {
  width: 100px;
  height: 50px;
  margin-left: 35px;
  cursor: pointer;
  object-fit: contain;
}

.brandName {
  display: flex;
  align-items: center;
}

#usuario {
  font-size: 13px;
  color: rgb(98, 95, 95);
  letter-spacing: 0.5px;
  margin-left: 10px;
}
li .div-navlinks {
  display: flex;
  align-items: center;
}

.navLinks ul {
  display: flex;
  align-items: center;
  margin-right: 50px;
}

.navLinks li {
  list-style: none;
}

.navLinks li a {
  text-decoration: none;
  color: rgb(133, 130, 130);
  display: block;
}

.navLinks li img {
  padding-right: 5px;
}

.navLinks li a:hover > span {
  border-bottom: 1px solid #4db6ac;
}

.navLinks li:nth-child(4) a > span {
  color: #4db6ac;
  font-weight: 700;
}

.toggle-button {
  position: absolute;
  top: 20px;
  right: 30px;
  /*display: flex;*/
  flex-direction: column;
  justify-content: space-between;
  width: 35px;
  height: 25px;
}

.toggle-button .linea {
  height: 3px;
  width: 100%;
  background-color: #f57c00;
  border-radius: 10px;
}

#modal-msg {
  height: 210px;
  width: 400px;
}

#modal-login {
  width: 400px;
  max-height: 80%;
}

#logout {
  display: none;
  color: #d500f9;
  font-weight: 600;
}

.signup-div {
  margin-top: 5px;
}

/* .inicio {
  margin-right: 160px;
  color: rgb(87, 85, 85);
} */

i.left {
  margin-right: 5px;
  color: rgb(4, 167, 167);
}

/* SECCIONES DEL HTML */

#inicio {
  height: 100vh;
  width: 100%;
  background-color: whitesmoke;
  background: url("../images/foto-vanessa-2.png") no-repeat top center;
  background-size: cover;
  background-position: 0px 60px;
}
#pacientes {
  display: none;
  height: 100vh;
  width: 100%;
  margin-top: 50px;
  text-align: center;
}

#section-crear-pacientes {
  display: none;
  height: 100vh;
  width: 100%;
}

#agenda {
  display: none;
  height: 100vh;
  width: 100%;
  background-color: whitesmoke;
  background-size: cover;
}
#entrar {
  color: #d500f9;
  font-weight: 600;
}

/* Dental add-ons */
.btn,
.btn-large,
.btn-small,
.btn-flat {
  text-transform: none;
}

.btn.cyan:hover {
  color: rgb(146, 65, 7);
}
.btn.cyan {
  padding: 0 10px;
}

.modal-footer a {
  padding-left: 10px;
  padding-right: 10px;
}

.modal-footer a:hover {
  color: black;
}

#agenda {
  display: flex;
  justify-content: space-between;
}

#div-img-agenda {
  width: 300px;
  height: 100vh;
  background-color: greenyellow;
  overflow: hidden;
}

#tabla-paciente {
  padding: 10px;
  margin: 3px 90px;
  width: 80%;
}

th {
  text-align: center;
  border: 0.5px solid #a8adb3;
  padding: 5px;
  background-color: chocolate;
}

table.striped > tbody > tr:nth-child(odd) {
  background-color: rgba(189, 186, 186, 0.5);
}

table.highlight > tbody > tr:hover {
  background-color: #ee6e73;
  font-weight: 700;
}

table td {
  padding: 5px;
  border: 1px solid #a8adb3;
}

table td:nth-child(4),
table td:nth-child(5),
table td:nth-child(6) {
  text-align: center;
}

table td:nth-child(6){
  width: 225px;
}

.td-id-hidden,
#th-id-hidden {
  display: none;
}

.td-btn:hover {
  opacity: 0.9;
}

.td-btn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  outline: none;
  border: 1px solid teal;
  background-color: rgb(39, 206, 206);
  pointer-events: all;
  cursor: pointer;
  margin: 3px;
  position: relative;
}

/* tooltip for buttons */

.td-btn::before,
.td-btn::after {
  --scale: 0;
  --tooltip-color: #333;
  --arrow-size: 10px;
  position: absolute;
  top: -0.25rem;
  left: 50%;
  transform: translateX(-50%) translateY(var(--translate-y, 0))
    scale(var(--scale));
  transition: 150ms transform;
  transform-origin: bottom center;
}

.td-btn::before {
  --translate-y: calc(-100% - var(--arrow-size));
  content: attr(data-tip);
  background: #333;
  color: white;
  padding: 0.5rem;
  min-width: 100px;
  max-width: 100%;
  border-radius: 0.3rem;
  text-align: center;
}

.td-btn:hover::before,
.td-btn:hover::after {
  --scale: 1;
}

.td-btn::after {
  --translate-y: calc(-1 * var(--arrow-size));
  content: "";
  border: var(--arrow-size) solid transparent;
  border-top-color: var(--tooltip-color);
  transform-origin: top center;
}

/* fin de tooltip for buttons */

.fa-tasks,
.fa-teeth-open,
.fa-pencil-alt,
.fa-user-times {
  font-size: 20px;
  pointer-events: none;
}

#btn-eliminar-paciente {
  background-color: rgb(199, 52, 52);
  border: 1px solid red;
}

#btn-ver-paciente:hover,
#btn-control-paciente:hover,
#btn-odograma:hover {
  color: white;
  background-color: #4db6ac;
}

#btn-eliminar-paciente:hover {
  color: rgb(236, 219, 219);
}

#img-crear-paciente {
  margin-top: 35px;
  cursor: pointer;
  background-color: aqua;
  border-radius: 5px;
}

#img-crear-paciente:hover {
  background-color: #4db6ac;
}

#img-ver {
  pointer-events: none;
}

p.bottom10 {
  font-size: 20px;
  margin-bottom: 35px;
  color: #143961;
  font-weight: bolder;
  line-height: 10px;
}

#div-pacientes-titulo > div > h3 {
  font-size: 2.5rem;
  font-weight: 700 !important;
  margin: 0px 25px 0px 0px !important;
}

#div-buscador {
  display: flex;
  justify-content: center;
  align-items: center;
}

#btn-borrar {
  width: 20px;
  height: 20px;
  margin-left: 5px;
  opacity: 0.4;
  pointer-events: all;
  cursor: pointer;
  padding: auto;
  background-color: rgb(202, 200, 200);
  border-radius: 5px;
  outline: none;
  border: 1px solid grey;
  display: none;
}

#btn-borrar:hover {
  opacity: 1;
  border: 1px solid red;
}

/*INICIO DEL MEDIA QUERY FEBB -------------------------------------------------------------- */

@media (max-width: 768px) {
  .img-menu {
    opacity: 1;
  }

  #modal-msg {
    width: 300px;
  }

  #modal-login {
    width: 300px;
  }

  #inicio {
    background-size: 112vh;
  }

  .toggle-button {
    display: flex;
  }

  .navbar {
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
  }

  .navLinks {
    display: none;
    width: 100%;
  }

  .navLinks.active {
    display: flex;
  }

  .navLinks ul {
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background-color: aqua;
    margin-right: 0;
    opacity: 0.8;
  }

  .navLinks li a {
    padding: 0.5rem 1 rem;
  }

  .navLinks ul li:nth-child(1) {
    margin-top: 50px;
  }

  .navLinks li {
    min-width: 130px;
  }

  .logo-dental {
    width: 80px;
    height: 35px;
    margin-left: 10px;
    border-radius: 15px;
    object-fit: contain;
  }

  #usuario {
    font-size: 8px;
    color: magenta;
    font-weight: bold;
  }

  table td {
    font-size: 15px;
  }

  #tabla-paciente {
    width: 95%;
    margin-left: 5px;
    max-width: 100%;
    padding: 0;
  }

  #btn-ver-paciente,
  #btn-control-paciente,
  #btn-eliminar-paciente,
  #btn-odograma {
    width: 70px;
    margin: 5px 0 5px 15px;
  }

  #div-pacientes-titulo > div > h3 {
    display: none;
    font-size: 1.5rem;
    font-weight: 700 !important;
  }

  #tabla-paciente thead tr th:nth-child(4),
  #tabla-paciente tbody tr td:nth-child(4),
  #tabla-paciente thead tr th:nth-child(5),
  #tabla-paciente tbody tr td:nth-child(5) {
    display: none;
  }
}
/*FIN DEL MEDIA QUERY FEBB */

/* INTRO SECTION TIME-LINE CSS
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.intro {
  background: #f45b69;
  padding: 30px 0 5px 0;
}

.intro-header {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

h1 {
  font-size: 2.5rem;
}

.intro-header h1 {
  margin-bottom: 10px;
}

#id-cita-eliminar {
  display: none;
}

/* TIMELINE
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.timeline {
  display: none;
  background: #456990;
  font: normal 16px/1.5 "Helvetica Neue", sans-serif;
  color: #fff;
  overflow-x: hidden;
  padding-bottom: 50px;
}

.timeline ul {
  background: #456990;
  padding: 5px 0;
  height: 100vh;
}

.timeline ul li {
  list-style-type: none;
  position: relative;
  width: 6px;
  margin: 0 auto;
  padding-top: 50px;
  background: #fff;
}

.timeline ul li::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: inherit;
  z-index: 1;
}

.timeline ul li div {
  position: relative;
  bottom: 0;
  width: 400px;
  padding: 15px;
  background: #f45b69;
  cursor: pointer;
}

.timeline ul li div::before {
  content: "";
  position: absolute;
  bottom: 7px;
  width: 0;
  height: 0;
  border-style: solid;
}

.timeline ul li:nth-child(odd) div {
  left: 45px;
}

.timeline ul li:nth-child(odd) div::before {
  left: -15px;
  border-width: 8px 16px 8px 0;
  border-color: transparent #f45b69 transparent transparent;
}

.timeline ul li:nth-child(even) div {
  left: -439px;
}

.timeline ul li:nth-child(even) div::before {
  right: -15px;
  border-width: 8px 0 8px 16px;
  border-color: transparent transparent transparent #f45b69;
}

time {
  display: block;
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 8px;
}

/* EFFECTS
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.timeline ul li::after {
  transition: background 0.5s ease-in-out;
}

.timeline ul li.in-view::after {
  background: #4db6ac;
  content: "cita";
  color: black;
  font-weight: bolder;
  padding-top: 7px;
  text-align: center;
}

.timeline ul li div {
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s ease-in-out;
  border-radius: 10px;
}

.timeline ul li:nth-child(odd) div {
  transform: translate3d(200px, 0, 0);
}

.timeline ul li:nth-child(even) div {
  transform: translate3d(-200px, 0, 0);
}

.timeline ul li.in-view div {
  transform: none;
  visibility: visible;
  opacity: 1;
}

/* GENERAL MEDIA QUERIES
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@media screen and (max-width: 600px) {
  .timeline ul li {
    margin-left: 20px;
  }
  .timeline ul li div {
    width: calc(100vw - 91px);
  }
  .timeline ul li:nth-child(even) div {
    left: 45px;
  }
  .timeline ul li:nth-child(even) div::before {
    left: -15px;
    border-width: 8px 16px 8px 0;
    border-color: transparent #f45b69 transparent transparent;
  }
}

/* EXTRA/CLIP PATH STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.timeline-clippy ul li::after {
  width: 40px;
  height: 40px;
  border-radius: 0;
}

.timeline-rhombus ul li::after {
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}

.timeline-rhombus ul li div::before {
  bottom: 12px;
}

.timeline-star ul li::after {
  clip-path: polygon(
    50% 0%,
    61% 35%,
    98% 35%,
    68% 57%,
    79% 91%,
    50% 70%,
    21% 91%,
    32% 57%,
    2% 35%,
    39% 35%
  );
}

.timeline-heptagon ul li::after {
  clip-path: polygon(
    50% 0%,
    90% 20%,
    100% 60%,
    75% 100%,
    25% 100%,
    0% 60%,
    10% 20%
  );
}

.timeline-infinite ul li::after {
  animation: scaleAnimation 2s infinite;
}

@keyframes scaleAnimation {
  0% {
    transform: translateX(-50%) scale(1);
  }
  50% {
    transform: translateX(-50%) scale(1.25);
  }
  100% {
    transform: translateX(-50%) scale(1);
  }
}

/* FOOTER STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.page-footer {
  position: fixed;
  right: 0;
  border-radius: 15px;
  bottom: 20px;
  display: flex;
  align-items: center;
  padding: 5px;
  color: black;
  background: rgba(255, 255, 255, 0.87);
}

.page-footer a {
  display: flex;
}

.btn-eliminar-cita {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: aqua;
  color: black;
  border: none;
  float: right;
  cursor: pointer;
  border-color: rgb(12, 138, 138);
  font-weight: bolder;
}

/*INPUT SEARCH CUSTOM DE FEBB   */

.search__div {
  background-color: #54dfd1 !important;
  height: 40px !important;
  width: 40px !important;
  border-radius: 20px !important;
  transition: all ease 0.5s !important;
  overflow: hidden !important;
  border: 1px solid rgba(54, 139, 111, 0.603) !important;
  margin-bottom: 5px;
}

.search__input {
  border: none !important;
  background: none !important;
  outline: none !important;
  color: black !important;
  font-size: 20px !important;
  height: 2rem !important;
  width: 0px !important;
  transition: all ease 0.5s !important;
  pointer-events: all;
  margin: 0 !important;
}

.search__div:hover > .search__input {
  width: 175px !important;
}

.search__div:hover {
  width: 225px !important;
  background-color: #54dfd1 !important;
}

.fa-search {
  color: chocolate !important;
  font-size: 25px !important;
  position: absolute !important;
  margin-top: 7px !important;
  margin-left: -12px !important;
  cursor: pointer !important;
}

.search__input::placeholder {
  color: rgb(114, 111, 111);
}

/*FIN DE SEARCH INPUT FEBB /*



/* CUSTOM TOOL TIP COMPONENT */

.tooltip {
  position: relative; /* making the .tooltip span a container for the tooltip text */
}

/*FIN DE TOOL TIP COMPONENT  */
