/* ----- MY CUSTOM MODAL ------ */
.myModal-div {
  width: 100vw;
  height: 100vh;
  background-color: rgb(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  opacity: 0;
  transition: 250ms opacity ease-in;
}

.mymodal-container {
  background-color: white;
  width: 22rem;
  padding: 1.5rem;
  border-radius: 10px;
}

.mymodal-title {
  text-align: center;
  margin: 5px 0;
}

#mymodal-text {
  text-align: justify;
  border-top: 1px solid teal;
  padding: 0.5rem 0;
  font-size: 20px;
  margin-top: 10px;
}

.mymodal-btncontainer {
  margin-top: 1rem;
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
}

.mymodal-btn {
  padding: 0.4rem 0.8rem;
  outline: none;
  font-size: 1rem;
  cursor: pointer;
  border: 1px solid teal;
  border-radius: 5px;
}

#mymodal-btncerrar {
  background-color: transparent;
  color: teal;
}

#mymodal-btnaceptar {
  background-color: teal;
  color: white;
}

.mostrar-modal {
  opacity: 1;
  pointer-events: auto;
}
/* ----- END OF MY CUSTOM MODAL ------ */

/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

/* ----- MY CUSTOM LOADING SPINNER  */

.myspinner-container {
  margin: 0 auto;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 300px;
  top: 100px;
  display: none;
}

.myspinner-sector {
  border-radius: 50%;
  position: absolute;
  width: 100%;
  height: 100%;
  border: 15px solid transparent;
  border-top: 15px solid green;
  mix-blend-mode: overlay;
}

.myspinner-text {  
  animation: myLoading 3s ease-in-out infinite;
  font-size: 2em;
}

.myspinner-text::before{
 content: attr(data-spintext);
}

.myspinner-sector-blue {
  animation: myRotate 2s ease-out infinite;
  border-top: 15px solid lightseagreen;
}

.myspinner-sector-red {
  animation: myRotate 2.5s ease-in infinite;
  border-top: 15px solid lightcoral;
}

.myspinner-sector-green {
  animation: myRotate 1.5s ease-in-out infinite;
  border-top: 15px solid lightgreen;
}

@keyframes myRotate {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes myLoading {
  0%, 100% {
    opacity: 1;
  }

   25%, 75% {
    opacity: 0.5;
  }

   50% {
    opacity: 0.1;
  }
}

/* ----- END OF MY CUSTOM LOADING SPINNER  */
