body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  padding: 0;
  margin: 10px 0px 15px 230px;
  color: #095484;
}

h3 {
  margin-bottom: 10px;
  text-align: center;
}

button {
  border-radius: 5px;
  outline: none;
  border: 1px solid rgb(133, 129, 129);
}

button:hover {
  border-color: #008800;
}

canvas {
  cursor: crosshair;
}

div#sidebar {
  position: absolute;
  left: 0;
  width: 310px;
  min-height: 480px;
  padding: 10px;
  top: 60px;
  background-color: rgb(184, 179, 179);
  border: 1px solid rgb(122, 121, 121);
}

canvas#canvas {
  left: 335px;
  top: 60px;
}

.colorButtons {
  display: flex;
 justify-content: space-between;
 align-items: center;


}

.btn-color {
  width: 25px;
  height: 20px;
  margin: 2px;
  border: none;
  outline: none;
  cursor: pointer;
}

#btncolor-blanco {
  background-color: #ffffff;
}

#btncolor-negro {
  background-color: #000000;
}
#btncolor-azul {
  background-color: #0000ff;
}
#btncolor-naranja {
  background-color: #e68106;
}
#btncolor-rojo {
  background-color: #ff0000;
}
#btncolor-verde {
  background-color: #008800;
}

label {
 
 
  font-weight: bolder;
}

.div-color-actual {
  width: 85px;
}

#color-actual {
  border: 2px solid rgb(197, 67, 197);
  border-radius: 5px;
  width: 80px;
  pointer-events: none;
  
}

#myH3 {
  font-size: 12px;
  padding: 3px;
}

#div-figuras {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 10px;
}

.btn {
  margin-bottom: 10px;
  width: 48%;
  height: 40px;
  color: dark;
}

.btn.comando {
  width: 45px;
  height: 40px;
  margin: 3px;
  color: #0000ff;
  font-weight: 700;
}

input {
  width: 50%;
  margin-bottom: 10px;
}

.input-group {
  margin-bottom: 10px;
}

.toolsButtons .btn,
#equis,
#linea {
  width: 48%;
}

.sizeButtons .btn {
  width: 48%;
}

a {
  position: relative;
  top: 25px;
  padding: 10px;
  border: 1px solid rgb(137, 137, 148);
  cursor: pointer;
  background-color: aqua;
  font-weight: bold;
  color: rgb(51, 51, 53);
}

a:hover {
  color: orangered;
  background-color: rgb(101, 245, 245);
}

.guardar {
  text-align: center;
}

@media screen and (max-width: 600px) {
  div#sidebar {
    width: 105px;
  }

  h3 {
    font-size: 12px;
  }

  label {
    font-size: 12px;
  }

  .colorButtons {
    display: flex;
    flex-direction: column;
  }

  #div-figuras {
    display: flex;
   
  }

  canvas#canvas {
    left: 130px;
  }
}

.pruebas {
  background-color: rgb(121, 113, 113);
}

.btn.activo {
  background-color: springgreen;
}

#myH3{
  display: none;
}