
.search__div{   
    background-color: rgb(46, 190, 190) ;
    height: 40px;
    width: 40px;
    border-radius: 20px;      
    transition: all ease 0.5s ;
    overflow: hidden;
    border: 1px solid rgba(54, 139, 111, 0.603);
}

.search__input{
    border: none;   
    background: none;
    outline: none;   
    color: black;    
    font-size: 16px;    
    line-height: 27px;
    width: 0px;
    transition: all ease 0.5s;    
}

.search__div:hover > .search__input{
    width: 175px;   
    border-bottom: 1px solid gray; 
    margin-left: 15px;
}

.search__div:hover{
    width: 225px;
    background-color: aqua;
}

.fa-search{
    color: rgba(153, 113, 10, 0.986);
    font-size: 25px;
    position: absolute;
    margin-top: 7px;
    margin-left: 2px;
    cursor: pointer;    
}
